extends layout
block content
  .container
      h2 
        p
         | Hello UVT students,  from NodeJs 12
      br         
      br
      h5
        p
         | This is a NodeJs application built using Docker, based on NodeJs 12.
         br        
         br
         a(href='https://github.com/vladsancira/nodejs-uvt.git') https://github.com/vladsancira/nodejs-uvt.git
      br         
      br
   
